<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>

    <body style="background-color: lightblue;">
        <div>
            <form method="post">
                <label>Username:</label>
                <input type="text" name="one" id="username"><br><br>
                <label>Password:</label>
                <input type="password" name="two" id="password"><br><br>
                <input type="submit" value="Create User">
            </form>
        </div>

    </body>

</html>